<ion-header [translucent]="true">
  <ion-toolbar>

      <ion-text color="secondary">What do you have to do today {{today | date }}.</ion-text>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="noTasks" *ngIf="tasksList.length == 0">You don't have any tasks yet!</div>
  <ion-list *ngFor="let task of tasksList; let i = index;">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>{{task.value.taskTitle}}</ion-card-title>
        <ion-card-subtitle>Created Date: {{task.value.createdDate}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Due Date: {{task.value.dueDate | date: 'dd/MM/yyyy'}}</ion-label>
      </ion-card-content>

    <ion-grid>
      <ion-row *ngIf="!task.value.isCompleted">
        <ion-col>
          <ion-button color="success" (click)="completeTask(task)">Complete<ion-icon slot="end" name="checkmark"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="deleteTask(task.key)">Delete<ion-icon slot="end" name="trash"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="warning" (click)="renderEditTaskPage(task)">Edit<ion-icon slot="end" name="create"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="task.value.isCompleted" class="completed">
        <ion-text>COMPLETED!</ion-text>
      </ion-row>

    </ion-grid>

    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="renderAddNewTaskModal()" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
