ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
  font-size: larger;
  font-weight: 700;
}


.completed{
  display: flex;
    justify-content: center;
    font-size: larger;
    color: darkgreen;
    font-weight: 600;
}

ion-card {
  background-color: aliceblue;
}

.noTasks{
  padding: 70px 0;
  text-align: center;
  font-size: large;
  color: cornflowerblue;
}
