ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
  font-size: larger;
  font-weight: 700;
}


.completed{
  display: flex;
    justify-content: center;
    font-size: larger;
    color: darkgreen;
}
